{% extends 'adminbase.html.twig' %}
{% block title %}Kategori Listesi{% endblock %}
{% block content %}

    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>Kategori Listesi</h2>
            </div>

            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Kategori Listesi
                                <small><a href="{{ path('admin_category_new') }}" class="btn bg-light-green waves-effect"><i class="material-icons">add</i><span> Yeni Kategori Ekleme</span></a></small>
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Home</a></li>
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Kategori Listesi</a></li>
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Parentid</th>
                                    <th>Title</th>
                                    <th>Keywords</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                    <th>Göster</th>
                                    <th>Düzenle</th>
                                    <th>Sil</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for category in categories %}
                                    <tr>
                                        <td>{{ category.id }}</td>
                                        <td>{{ category.parentid }}</td>
                                        <td>{{ category.title }}</td>
                                        <td>{{ category.keywords }}</td>
                                        <td>{{ category.description }}</td>
                                        <td>{{ category.status }}</td>
                                        <td>
                                            <a href="{{ path('admin_category_show', {'id': category.id}) }}" class="btn bg-lime waves-effect">GÖSTER</a>
                                        </td><td>
                                            <a href="{{ path('admin_category_edit', {'id': category.id, 'pid':category.parentid}) }}" class="btn bg-indigo waves-effect">DÜZENLE</a>
                                        </td>
                                        <td>{{ include('admin/category/_delete_form.html.twig') }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="7">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}
