{% extends 'frontbase.html.twig' %}

{% block title %} İletişim {{ data[0].title }}{% endblock %}
{% block keywords %} {{ data[0].keywords }}{% endblock %}
{% block description %} {{ data[0].description   }}{% endblock %}
{% block body %}


    <hr class="soften">
    <div class="container">
        <h1> İletişim</h1> </div>
    <hr class="soften">
    <div class="row">
    <div class="container">
        <p>
            {{ data[0].contact|raw }}
        </p>
        <div class="row"></div>
    </div>


    <div class="container">
        <div class="col-sm-5">
            <div class="contact-form">
                <h2 class="title text-center">------------Bize Ulaşın------------</h2>
                {{ include('messages.html.twig') }}
                <div class="status alert alert-success" style="display: none"></div>

                <form id="main-contact-form" action="" class="contact-form row" name="contact-form" method="post">

                    <div class="form-group col-md-6">
                        <input type="text" name="messages[name]" class="form-control" required="required" placeholder="Ad">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="email" name="messages[email]" class="form-control" required="required" placeholder="Email">
                    </div>
                    <div class="form-group col-md-12">
                        <input type="text" name="messages[subject]" class="form-control" required="required" placeholder="Konu">
                    </div>
                    <div class="form-group col-md-12">
                        <textarea name="messages[message]" id="message" required="required" class="form-control" rows="8" placeholder="Mesajınızı Yazabilirsiniz"></textarea>
                    </div>
                    <div class="form-group col-md-12">
                        <input type="hidden" name="token" value="{{ csrf_token('form-message') }}" />
                        <input type="submit" name="submit" class="btn btn-primary pull-right" value="MESAJI GÖNDER">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}